.form-container {
  width: 100%;
  height: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-data {
  width: 25vw;
  border: 2px solid #2adde3; 
  padding: 20px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #2499C0 !important;
}
.form-data p{
  color: #2499C0 !important;
}


label, input, textarea {
  margin: 10px 0 !important;
}

input, textarea {
  width: 100% !important;
}

button[type="submit"]{
  color: white;
  background-color: #2292B8 !important;
  border: 2px solid transparent !important;
}